\Obsidian
.trash
.obsidian/workspace.json
.obsidian/graph.json
__*/

\Syncthing
.stfolder
.stignore

\Quartz
.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix