@import 'base';

nav {
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: solid color-primary(5);
}
  
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    margin-bottom: 0rem;
    padding: 1rem;
    justify-content: space-between;
  
    nav {
        display: none;
        flex-direction: column;
        gap: 1rem;
        width: 100vw;
        .nav-item {
            display: inline-block;
            background-color: inherit;
            color: inherit;
            padding: 0.5rem 0px;
            text-align: left;
            text-indent: 1rem;
        }
    }
}

aside {
    nav {
      flex-direction: column;
    }
}

.responsive-menu-toggle {
    display: block;
}

.detail-content {
    margin-left: 1rem;
}

.main-nav {
    display: none;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.navbar {
    position: absolute;
    background-color: color-secondary(9);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: auto;
    background-color: color-secondary(9);
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1rem;
}

.dropdown-right {
    position: relative;
    .dropdown-content {
      right: 0;
    }
}  

  @media (min-width: $breakpoint-laptop) {
    header {
        nav {
            display: flex;
            flex-direction: row;
        }
    }

    .responsive-menu-toggle {
        display: none;
    }

    .dropdown-content {
        width: auto;
    }

    .main-nav {
        display: flex;
        width: auto;
    }
}
